.video{
    height: 80vh;
    overflow: hidden;
    margin-bottom: 5rem;
    margin-top: 2rem;
    border: 4px solid white;
    border-radius: 8px;
    /* position: relative; */
    /* object-fit: fill; */
    /* position: relative; */
    /* scroll-snap-align: start; */
}

.video__player {
    object-fit: fill;
    width: 100%;
    height: 100%;
}