html{
  scroll-snap-type: y mandatory;
  background-color: black;
}

.feed{
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  /* overflow-y: scroll;
  width: 70%;
  background-color: white;
  scroll-snap-type: y mandatory; */
}

.video-container{
  width: 30%;
  display: flex;
  align-items: center;
}

.app{
  background-color: black;
}